
App/.gradle/3.3/taskArtifacts/fileHashes.bin
App/.gradle/3.3/taskArtifacts/fileHashes.bin
App/.gradle/3.3/taskArtifacts/fileSnapshots.bin
App/.gradle/3.3/taskArtifacts/taskArtifacts.bin
App/.gradle/3.3/taskArtifacts/taskArtifacts.lock
App/.idea/libraries/animated_vector_drawable_24_2_1.xml
App/.idea/libraries/appcompat_v7_24_2_1.xml
App/.idea/libraries/constraint_layout_1_0_2.xml
App/.idea/libraries/espresso_core_2_2_2.xml
App/.idea/libraries/espresso_idling_resource_2_2_2.xml
App/.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
App/.idea/libraries/rules_0_5.xml
App/.idea/libraries/runner_0_5.xml
App/.idea/libraries/support_compat_24_2_1.xml
App/.idea/libraries/support_core_ui_24_2_1.xml
App/.idea/libraries/support_core_utils_24_2_1.xml
App/.idea/libraries/support_fragment_24_2_1.xml
App/.idea/libraries/support_media_compat_24_2_1.xml
App/.idea/libraries/support_v4_24_2_1.xml
App/.idea/libraries/support_vector_drawable_24_2_1.xml
App/.idea/workspace.xml
App/app/app.iml
App/local.properties
App/.gradle/3.3/taskArtifacts/fileHashes.bin
App/.gradle/3.3/taskArtifacts/fileHashes.bin
App/.gradle/3.3/taskArtifacts/fileHashes.bin
App/.gradle/3.3/taskArtifacts/fileSnapshots.bin
App/.gradle/3.3/taskArtifacts/taskArtifacts.bin
App/.gradle/3.3/taskArtifacts/taskArtifacts.lock
App/.idea/libraries/animated_vector_drawable_24_2_1.xml
App/.idea/libraries/appcompat_v7_24_2_1.xml
App/.idea/libraries/constraint_layout_1_0_2.xml
App/.idea/libraries/espresso_core_2_2_2.xml
App/.idea/libraries/espresso_idling_resource_2_2_2.xml
App/.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
App/.idea/libraries/rules_0_5.xml
App/.idea/libraries/runner_0_5.xml
App/.idea/libraries/support_compat_24_2_1.xml
App/.idea/libraries/support_core_ui_24_2_1.xml
App/.idea/libraries/support_core_utils_24_2_1.xml
App/.idea/libraries/support_fragment_24_2_1.xml
App/.idea/libraries/support_media_compat_24_2_1.xml
App/.idea/libraries/support_v4_24_2_1.xml
App/.idea/libraries/support_vector_drawable_24_2_1.xml
App/.idea/workspace.xml
App/app/app.iml
App/local.properties
